ol li{
    list-style-type: none;
}

body {
    background-color: #1F2937;
    padding: 0;
    margin: 0;
}

.header_main{
    display: flex;
    flex-direction: row; /* default value */
    justify-content: space-evenly;
    padding: 100px;
    background-color: #1F2937;
    align-items: center;
}

.main_text {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;

    flex-wrap: wrap;
    flex-basis: 300px;
    
}

.secondary_text {
    font-size: 18px;
    color: #F9FAF8;
}

.sign_up_button{
    font-size: 24px;
    background-color: #3882F6;
    border: none;
    border-radius: 4px;
    margin-right: auto;

}

.header_logo {
    font-size: 24px;
    color: #F9FAF8;
    width: 700px;
    font-weight: bold;
    margin-right: auto;
}

.info_header {
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
    background-color: white;
}
.light_background {
    background-color: white;
}

.section_three {
    background-color: #E5E7EB;
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
}

.section_one {
    display: flex;
    justify-content: center;
    padding: 100px;
    gap: 64px;

}



a, a:hover, a:focus, a:active{
    text-decoration: none;
    color: inherit;
}

.links {
    display: flex;
    font-size: 24px;
    color: #F9FAF8;
    gap: 24px;
    
}

main {
    background-color: white;
    margin: 0;
    padding: 0;
}

img {
    height: 300px;
    width: auto;
}